<div>
    <label for="immatriculation">Entrez une plaque d'immatriculation :</label>
    <input type="text" id="immatriculation" [(ngModel)]="newImmatriculation" (keyup.enter)="addImmatriculation()">
    <button class="btn btn-success" (click)="addImmatriculation()">ajouter</button>
  </div>
  <div error message="entrer votre plaque d'immatriculation">
  </div>
  <div>
    <ul>
      <li *ngFor="let immatriculation of immatriculations; let i = index">
        {{immatriculation}}
        <div error></div>
        <button class="btn btn-danger" (click)="suprImmatriculation(i)">Supprimer</button>
        <button class="btn btn-primary" (click)="toggleForm()">info</button>
        <form class="w-50" *ngIf="showForm">
          <div class="card">
            <immatriculation-list></immatriculation-list>
        </div>
      </form>
      </li>
    </ul>
  </div>
  